interval = 600000
path = "/home/abdulrahman/Sync"
log = "info"

[backend]
provider = "s3"
bucket_name = "sync"
access_key_id = "access key"
secret_access_key = "secret"
endpoint = "https://example.com/endpoint"